body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.menu-list {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(4, auto);
  justify-content: right;
}

.menu-list {
  list-style: none;
}

.item {

}

.footer-list {
  list-style: none;
  display: flex;
  justify-content: space-around;
}

.google-img {
  display: block;
  margin: 0 auto;
}











